#service {
    padding: 50px 0;
}

.service {
    &__cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
    }
    &__card {
        text-align: center;
        max-width: 200px;
        &__img {
            width: 80px;
            height: 80px;
            min-width: 60px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__info {
            h3 {
                padding: 10px 0;
            }
        }
    }
    @media (max-width: 700px) {
        &__cards {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__card {
            max-width: 250px;
        }
    }
    @media (max-width: 610px) {
        &__card {
            max-width: 100%;
            display: flex;
            gap: 30px;
            text-align: start;
            &__info {
                h3 {
                    font-size: 18px;
                }
            }
        }
    }
    @media (max-width: 350px) {
        &__card {
            flex-direction: column;
            text-align: center;
            &__info {
                h3 {
                    font-size: 16px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}
