.news {
    padding: 30px 0;

    &__title {
        padding: 20px 0;
        text-align: center;
        font-size: 34px;
        font-weight: 600;
        line-height: 51px;
        color: #22262a;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 30px 0;
    }

    &__card {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__info {
        span {
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            color: #c1c8ce;
        }
    }

    &__name {
        padding: 5px 0;
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
        color: #22262a;
    }

    &__desc {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.92px;
        color: #22262a;
    }

    &__img {
        img {
            width: 90px;
            height: 100px;
        }
    }

    @media (max-width: 1110px) {
        &__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        &__name {
            font-size: 18px;
            line-height: 25px;
        }

        &__desc {
            font-size: 14px;
        }
    }

    @media (max-width: 670px) {
        &__cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }

        &__title {
            font-size: 25px;
            line-height: 40px;
        }
        &__info {
            span {
                font-size: 14px;
            }
        }
        &__desc {
            font-size: 14px;
        }
    }

    @media (max-width: 350px) {
        &__card {
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
        }

        &__title {
            font-size: 20px;
            line-height: 30px;
        }
    }
}
