.details {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    padding: 50px 0;

    &__left {
        &__top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            padding-bottom: 50px;
        }
        &__bot {
            background: #fafafb;
            &__up-tab {
                display: flex;
                gap: 50px;
                padding: 0 30px;
                border-bottom: 3px solid #ddd;
                button {
                    border: none;
                    padding: 30px 0;
                    font-size: 16px;
                    // border-bottom: 3px solid red;
                }
            }
            p {
                padding: 30px;
            }
        }
    }

    &__images {
        a {
            img {
                width: 80%;
            }
        }
    }

    &__rating {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
        span {
            color: #c1c8ce;
        }
        a {
            color: #33a0ff;
        }
    }

    &__price {
        display: flex;
        // justify-content: space-between;
        // align-items: end;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        &-discount {
            display: flex;
            gap: 20px;
            span:first-child {
                text-decoration: line-through;
                font-size: 14px;
            }
            span:last-child {
                color: #fb7181;
                font-size: 14px;
            }
        }
        p:first-child {
            color: #40bfff;
            font-size: 18px;
            font-weight: 600;
        }
    }

    &__category {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
        p {
            display: flex;
            gap: 30px;
        }
    }

    &__color {
        padding-top: 20px;
        display: flex;
        gap: 20px;
        align-items: center;
        &__items {
            display: flex;
            align-items: center;
            gap: 10px;
            span {
                width: 20px;
                height: 20px;
                border-radius: 30px;
                &:first-child {
                    background: blue;
                }
                &:nth-child(2) {
                    background: red;
                }
                &:nth-child(3) {
                    background: yellow;
                }
                &:last-child {
                    background: green;
                }
            }
        }
    }

    &__size {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
        select {
            outline: none;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
        &__counter {
            padding: 10px;
            background: #f6f7f8;
            border-radius: 5px;
            button {
                padding: 0 10px;
                border: none;
                color: #33a0ff;
            }
        }
        &__add {
            display: flex;
            gap: 10px;
            button {
                padding: 10px 20px;
                border: none;
                background: #33a0ff34;
                border-radius: 5px;
                color: #33a0ff;
            }
        }
    }

    &__share {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding-top: 20px;
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
        }
        button:first-child {
            color: #fff;
            background: #385c8e;
        }
        button:last-child {
            color: #fff;
            background: #03a9f4;
        }
    }
    &__right {
        h2 {
            color: #c1c8ce;
            padding-bottom: 10px;
        }
    }
    &__card {
        border: 1px solid #ddd;
        border-radius: 5px;
        &__img {
            width: 100%;
            height: 200px;
            padding: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__info {
            text-align: center;
            padding: 20px 0;
        }
        &__price {
            display: flex;
            justify-content: center;
            gap: 10px;
            padding-top: 10px;
            p:first-child {
                color: red;
            }
            &-discount {
                text-decoration: line-through;
                color: gray;
            }
        }
    }
}
