.feature {
    padding: 20px 0;

    &__title {
        padding: 20px 0;
        text-align: center;
        font-size: 34px;
        font-weight: 600;
        line-height: 51px;
        color: #22262a;
    }

    &__cards {
        padding: 30px 0;
    }

    &__card {
        display: flex;
        align-items: center;
        gap: 20px;
        // border: 1px solid gray;
    }

    &__img {
        img {
            max-width: 154px;
            height: 154px;
            object-fit: contain;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__prices {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__newPrice {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        color: #ff4858;
    }

    &__oldPrice {
        font-size: 20px;
        font-weight: 400;
        line-height: 24.36px;
        color: #c1c8ce;
        text-decoration: line-through;
    }

    &__stars {
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
            color: orange;
        }
    }

    @media (max-width: 830px) {
        &__title {
            font-size: 25px;
            line-height: 40px;
        }
        &__oldPrice,
        &__newPrice {
            font-size: 16px;
        }
    }

    @media (max-width: 430px) {
        &__card {
            flex-direction: column;
            align-items: start;
        }
        &__img {
            margin: 0 auto;
        }

        &__title {
            font-size: 20px;
            line-height: 30px;
        }
    }
}
